
.profile_page {
    display: grid;
    grid-template: auto auto 1fr/25rem 1fr;
    margin: 30px;
    gap: 15px
}

@media screen and (max-width: 800px) {
    .profile_page {
        display: block;
    }
}