.accountBreaker {
    border-color: #888888;
}

.accountCentered {
    margin: 10px 0 5px 0;
    text-align: center;
}

.accountField {
    padding: 10px 0;
}

.accountLabel {
    margin: 0 0 5px 0;
}

.accountInput {
    background-color: #272727;
    color: white;
    padding: 10px 12px;
    border: 1px solid gray;
    border-radius: 2px;
    width: 350px;
    font-size: 1rem;
}

.accountInput:focus {
    border: 1px solid #344ec1;
}

.accountConfirmButton {
    font-size: 1.1rem;
    padding: 8px 25px;
    background-color: #344ec1;
    color: white;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
}