.featuredZone {
    position: relative;
    height: 75vh;
    margin: 0 auto;
    min-width: 400px;
}

.featuredCard {
    margin: 0 auto;
    width: 100%;
    min-width: 400px;
    background-color: #171717;
    position: absolute;
    height: fit-content;
    max-height: 75vh;
    transition: all 0.2s ease;
}

.featuredCard.inactive {
    animation: featuredFadeOut 0.5s ease-out;
    animation-fill-mode: both;
}

.featuredCard.active {
    animation: featuredFadeIn 0.5s ease-in;
    animation-fill-mode: both;
}

@keyframes featuredFadeOut {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes featuredFadeIn {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
    }
}

.featuredBackground {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8), rgba(0,0,0,0.4),rgba(0,0,0,0.04), rgba(0,0,0,0));
    object-fit: cover;
    height: 80vh;
}

.featuredImage {
    width: auto;
    height: 25vh;
    /* border-radius: 15px; */
}

.featuredSlideArrowLeft {
    position: absolute;
    top: 45%;
    left: 1%;
    width: 40px;
    height: 300px;
    opacity: 0.6;
}

.featuredSlideArrowRight {
    position: absolute;
    top: 45%;
    right: 1%;
    width: 40px;
    height: 300px;
    opacity: 0.6;
}

.featuredSlideArrowLeft:hover {
    opacity: 1;
}

.featuredSlideArrowRight:hover {
    opacity: 1;
}

.featuredText {
    position: absolute;
    bottom: 10%;
    left: 5%;
    max-width: 700px;
    margin-top: 50px;
}

.featuredTitle {
    font-size: 2.0rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.featuredDescription {
    font-size: 1.1rem;
    margin: 10px 0px 3px 0px;
}

.featuredAuthor {
    font-size: 1.1rem;
    margin: 10px 0px 15px 0px;
    color: #ddd;
}

.featuredText .cardStats {
    color: #ddd;
}

.featuredSlideMarker {
    cursor: pointer;
  height: 10px;
  width: 20px;
  margin: 20px 4px;
  background-color: #55555588;
  border-radius: 20px;
  display: inline-block;
  transition: all 0.6s ease;
  overflow: hidden;
}

.featuredSlideMarker.active {
    width: 30px;
    height: 12px;
    transition: all 0.6s ease;
}

.featuredSlideMarkerColor {
    width: 30px;
    height: 20px;
    background-color: #2a48d0;
    display: inline-block;
    margin: 0 -200%;
    transition: width 0.5s ease;
}

.contentCard {
    border-radius: 10px;
    color: white;
    width: 100%;
}

.contentCardTitle {
    margin: 5px 0 5px 0;
}

.cardDescription {
    background-color: #171717cc;
    color: #ddd;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    position: absolute;
    padding: 10px;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s;
}

.cardDescription * {
    margin: 5px 0;
}

.contentCard:hover .cardDescription {
    opacity: 1;
}

.cardImage {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    /* border-radius: 5px; */
    opacity: 1;
    margin-bottom: 0px;
}

.cardLogoFloat {
    height: max-content;
    position: relative;
}

.cardTitle {
    font-weight: bold;
    font-size: 1rem;
    color: #ddd;
    text-decoration: none;
    margin-bottom: 10px;
}

.cardAuthor {
    margin: 0 0 5px 0;
    font-size: 0.95rem;
    color: #aaaaaa;
}

.cardAuthorLink {
    margin: 0 0 5px 0;
    font-size: 0.95rem;
    color: #aaaaaa;
    text-decoration: underline;
}

.cardStats {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.cardStat {
    margin: 0 15px 0 0px;
    display: flex;
    align-items: center;
}

.cardStat img {
    margin: 0 5px 0 0px;
    width: 18px;
}

.creatorCard {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.creatorCard .creatorLogo {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.mapSlideshowText {
    position: absolute;
    top: 5%;
    left: 20%;
    right: 20%;
}

.mapSlideshowImage {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.mapImageSlideshowMarkers {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.mapImageSlideArrowLeft {
    position: absolute;
    top: 45%;
    left: 1%;
    width: 45px;
    opacity: 0.6;
    cursor: pointer;
}

.mapImageSlideArrowRight {
    position: absolute;
    top: 45%;
    right: 1%;
    width: 45px;
    height: 100px;
    opacity: 0.6;
    cursor: pointer;
}

.mapImageSlideshow {
    position: relative;
    height: 40vw;
    margin: 0 auto;
    min-width: 400px;
}

.mapImageSlideArrowLeft:hover {
    opacity: 1;
}

.mapImageSlideArrowRight:hover {
    opacity: 1;
}

.mapImage {
    margin: 0 auto;
    width: 100%;
    min-width: 400px;
    background-color: #171717;
    position: absolute;
    height: fit-content;
    max-height: 40vw;
    transition: all 0.2s ease;
}

.mapImage.inactive {
    animation: featuredFadeOut 0.5s ease-out;
    animation-fill-mode: both;
}

.mapImage.active {
    animation: featuredFadeIn 0.5s ease-in;
    animation-fill-mode: both;
}

.mapImageBackground {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8), rgba(0,0,0,0.4),rgba(0,0,0,0.04), rgba(0,0,0,0));
    object-fit: cover;
    height: 44vw;
    z-index: -1;
}

.comment {
    background-color: #191919;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 5px;
}

.commentBody {
    margin-left: 20px;
}

.commentBody h4 {
    margin-top: 12px;
    margin-bottom: 5px;
}

.commentBody p {
    color: #aaa
}

.commentHeader {
    display: flex;
    align-items: center;
}

.commentHeader p {
    margin-left: 10px;
    color: #aaa;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.commentActions {
    display: flex;
}

.commentActions p {
    font-size: 0.8rem;
}