.mapPage {
    margin: 0 auto;
    min-width: 400px;
    background-color: #171717;
    position: relative;
    height: fit-content;
}

.mapPageBackground {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8), rgba(0,0,0,0.4),rgba(0,0,0,0.04), rgba(0,0,0,0));
    object-fit: cover;
    height: 30vw;
    min-height: 300px;
}

.mapPageForeground {
    width: 100%;
    position: absolute;
    top: 5vh;
    left: 0%;
}

.mapPageLogoContainer {
    margin: 0 auto;
    width: 50%;
    min-width: 500px;
}

.mapPageLogo {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    height: 100%;
}

.mapInfo {
    margin: 50px auto;
    width: 50%;
}

.mapPageTitleInfo {
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width: 1920px) {
    .mapInfo {
        width: 65%;
    }
}

@media screen and (max-width: 900px) {
    .mapInfo {
        width: 90%;
    }
}

.mapTitleStack {
    flex: 50%;
}

.mapPageTitle {
    margin: 0;
}

.mapPageDownloadStack {
    display: flex;
    align-items: center;
}

.mapDescription {
    color: #ddd;
    line-height: 1.35;
    font-size: 1.05rem;
    display: flex;
}

.mapDescriptionContent {
    flex: 50%;
}

.mapSidebarHeader {
    margin-top: 0;
}

.mapSidebar {
    width: 250px;
    padding: 10px;
    margin: 10px 0 0 5px;
    background-color: #272727;
}

.mapSidebarStatHeader {
    font-size: 0.85rem;
    margin: 5px 0;
    width: 100%;
}

.mapSidebarStat {
    font-size: 0.85rem;
    float: right;
    color: #bbb;
}

.mapSidebarSection {
    margin-bottom: 25px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.fileCard {
    background-color: #373737;
    padding: 5px 8px;
}

.fileDownloadOptions {
    height: fit-content;
    display: flex;
    align-items: center;
}

.fileDownloadOptions p {
    flex: 50%;
}

.commentSection {
    width: 50%;
    margin: 0 auto;
}

.commentInputLabel {
    margin: 0 0 5px 0;
}

.commentInput {
    background-color: #272727;
    color: white;
    padding: 10px 12px;
    border: 1px solid gray;
    border-radius: 2px;
    width: 100%;
    font-size: 1rem;
}

.commentInput:focus {
    border: 1px solid #344ec1;
}