.field {
    padding: 10px 0;
}

.label {
    margin: 0 0 5px 0;
}

input {
    background-color: #272727;
    color: white;
    padding: 10px 12px;
    border: 1px solid gray;
    border-radius: 2px;
    width: 350px;
    font-size: 1rem;
}

.input:focus {
    border: 1px solid #344ec1;
}

.input.wide {
    width: 100%;
}

.select {
    position: relative;
    border: 1px solid #474747;
    display: block;
    padding: 6px;
    margin-top: 5px;
    border-radius: 5px;
    width: 200px;
}

.select .selected_option {
    display: inline;
    padding: 8px 15px;
    background-color: #11111100;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.select .options {
    position: absolute;
    display: none;
    background-color: #272727;
    padding: 10px 10px;
    font-size: 1.1rem;
    z-index: 3;
    top: 120%;
    left: -1%;
    border: 1px solid #474747;
    box-shadow: 3px 3px 10px #000000;
    border-radius: 5px;
    max-height: 40vh;
    scroll-padding: 0;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    overflow: auto;
    overscroll-behavior-y: none;
}

.select .options.active {
    display: block;
}

.select .options .option {
    margin: 2px 0;
    padding: 8px;
    width: 200px;
    color: #aaa
}

.select .options .option.selected {
    color: white
}

.select .options .option:hover {
    color: white;
    background-color: #2d2d2d;
}