@import 'grids.css';
@import 'cards.css';
@import 'nav.css';
@import 'forms.css';
@import 'buttons.css';
@import 'mapPage.css';
@import 'footer.css';
@import 'slideshows.css';
@import 'badges.css';
@import 'popupPage.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #171717;
    color: white;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #272727;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
  line-height: 2.6rem;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #272727;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

a {
    color: #344ec1;
}

a:visited {
  color: #506be3;
}

a:active {
  color: white;
}

.errorBox {
  background-color: #272727;
  padding: 20px;
  width: 40%;
  margin: 20px auto;
}

.errorBox p {
  background-color: #331111;
  padding: 10px;
}

.image_background {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8), rgba(0,0,0,0.4),rgba(0,0,0,0.04), rgba(0,0,0,0));
  object-fit: cover;
}

.centered_content {
  margin: 50px auto;
  width: 50%;
}

.centered_content.small {
  width: 20%;
}

.centered_content.popup {
  background-color: #272727;
  border-radius: 5px;
}

.popup .titlebar {
  display: flex;
  background-color: #171717;
  margin: -20px -20px 10px -20px;
  padding: 20px;
}

.popup .titlebar .title {
  flex: 50%;
}

.popup .titlebar .close {
  cursor: pointer;
}

.popup_background {
  position: absolute;
  z-index: 11;
  background-color: black;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  top: 0%;
}

@media screen and (max-width: 1920px) {
  .centered_content {
      width: 65%;
  }

  .centered_content.small {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .centered_content {
      width: 90%;
  }
  .centered_content.small {
    width: 95%;
  }
}

.center_text {
  text-align: center;
}

.footer_margin {
  margin: 20px auto 0 auto;
}