.nav {
    display: flex;
    margin: 0 10px;
}

.nav_list {
    margin: 20px 0 20px -15px;
    font-family: 'Lato', sans-serif;
    flex: 50%
  }
  
.nav .brand {
    display: inline;
    font-weight: 700;
    font-size: 20px;
}
  
.nav .item {
    display: inline;
    margin: 0 5px 0 5px;
}
  
.nav .link {
    text-decoration: none;
    color: #777777;
    padding: 8px 10px;
    transition: 0.2s ease;
    font-size: 17px;
}

.nav .link:visited {
    color: #777777;
}
  
  .nav .link.selected {
    color: #dddddd;
  }
  
  .nav .link:hover {
    color: #222222;
    background-color: #eeeeee;
    border-radius: 5px;
    transition: 0.2s ease;
  }

  .action_list {
    margin: 20px 0 20px -15px;
    font-family: 'Lato', sans-serif;
  }