.popup_page {
    position: relative;
    height: calc(1200px - 100vw);
    min-height: 100vh;
    overflow: hidden;
}

.popup {
    position: absolute;
    left: 40%;
    top: 1%;
    z-index: 2;
}

@media screen and (max-width: 1920px) {
    .popup {
        left: 30%;
    }
  }
  
  @media screen and (max-width: 900px) {
    .popup {
        left: 2%;
    }
  }

.map_scroll {
    position: absolute;
    z-index: 1;
    filter: blur(10px);
    opacity: 0.15;
    top: 0%;
    animation: mapScrollScroll 50s linear;
    animation-iteration-count: infinite;
}

@keyframes mapScrollScroll {
    0% {
        transform: rotateZ(-45deg) translateX(calc(120% + 32vw - 25vh)) translateY(5%)
    }
    100% {
        transform: rotateZ(-45deg) translateX(calc(120% + 32vw - 25vh)) translateY(-45%)
    }
}