.upload {
    object-fit: cover;
    position: relative;
    margin: 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.upload p {
    font-size: 0.8rem;
    color: gray;
    text-align: center;
}

.dnd {
    width: 50%;
    height: 150px;
    object-fit: cover;
    position: relative;
    margin: 3px 15px;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.versions {
    margin: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.versions button {
    margin-right: 10px
}

.hide_version {
    position: absolute;
    right: 5px;
    top: 5px;
}

.hide_reversed {
    transform: rotate(180deg);
}

.files {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}