.gallery {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 10px 0;
    border-radius: 5px;
    margin: 15px 0 10px 0;
    min-height: 150px;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
    z-index: 3;
}

.image {
    width: 100%;
    height: 150px;
    max-width: 300px;
    margin: 3px 3px;
    position: relative;
}

.image img {
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.remove {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #272727;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #c73030;
    transition: 0.2s ease;
    border: 2px solid #c73030;
}

.remove svg {
    width: 20px;
    height: 20px;
    margin: -5px;
}

.remove:hover {
    background-color: #373737;
    transition: 0.2s ease;
}

.upload {
    min-width: 300px;
    height: 150px;
    margin: 3px 3px;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 4;
}

.upload p {
    font-size: 0.8rem;
    color: gray;
    text-align: center;
}