.notification {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
    color: white;
    background-color: #272727;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.notification:hover {
    background-color: #373737;
}

.notification:visited {
    color: white;
}

.read_indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}