.main_button {
    padding: 10px 55px;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    font-weight: 500;
    border: none;
    color: white;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.main_button:hover {
    background-color: var(--primary-color-hover);
}

/** Override Link color in case the button is actually a link */
.main_button:visited {
    color: white;
}

.hollow_button {
    padding: 10px 35px;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    font-weight: 500;
    color: white;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    background-color: transparent;
    text-decoration: none;
    border-radius: 5px;
}

.hollow_button:visited {
    color: white;
}

.hollow_button:hover {
    background-color: var(--primary-color-hover);
    border-radius: 5px;
}

.secondary_button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    font-weight: 500;
    border: none;
    color: white;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.secondary_button:hover {
    background-color: var(--secondary-color-hover);
}

.warning_button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: var(--error-color);
    font-weight: 500;
    border: none;
    color: white;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    height: fit-content;
    text-decoration: none;
    border-radius: 5px;
}

.warning_button:hover {
    background-color: var(--error-color-hover);
}

.icon_button {
    margin-left: 10px;
    width: 43px;
    height: 42px;
    color: white;
    background-color: var(--primary-color);
    text-align: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

.icon_button:hover {
    background-color: var(--primary-color-hover);
}

.icon_button:visited {
    color: white
}

.icon_button svg {
    position: relative;
    margin-bottom: -5px;
}

.icon_button.secondary {
    background-color: var(--secondary-color);
}

.icon_button.secondary:hover {
    background-color: var(--secondary-color-hover);
}

.icon_button.warning {
    background-color: var(--error-color);
}

.icon_button.warning:hover {
    background-color: var(--error-color-hover);
}

.icon_button.filter {
    background-color: var(--secondary-color);
    display: none;
}

@media screen and (max-width: 750px) {
    .icon_button.filter {
        display: block;
    }
}

.icon_button.filter:hover {
    background-color: var(--secondary-color-hover);
}