.popup {
    position: absolute;
    left: 40%;
    top: 1%;
    z-index: 12;
    background-color: #272727;
    width: 400px;
    margin: 50px auto;
    width: 20%;
    padding: 20px;
    border-radius: 5px;
    max-height: 80vh;
    overflow: auto;
    border-radius: 5px;
}

.popup.inline {
    z-index: 2;
}

.popup .titlebar {
    display: flex;
    background-color: #171717;
    margin: -20px -20px 10px -20px;
    padding: 20px;
}

.popup .titlebar .title {
    flex: 50%;
    margin: 0 0 5px 0;
    color: #eee;
}

.popup .titlebar .close {
    cursor: pointer;
}

.background {
    position: absolute;
    z-index: 11;
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    top: 0%;
}

@media screen and (max-width: 1920px) {
    .popup {
        left: 30%;
        width: 40%;
    }
}
  
@media screen and (max-width: 1000px) {
    .popup {
        left: 2%;
        width: 96%
    }
}