@import './styles/nav.css';
@import './styles/forms.css';
@import './styles/mapPage.css';
@import './styles/popupPage.css';
@import './styles/editor.css';
/* @import './styles/grids.css'; */
@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-sans: var(--font-oxygen);
  --font-mono: var(--font-courier);
  --font-brand: var(--font-paytone);
  --text-brand: 1.5rem;
}

:root {
  --background: #171717;
  --foreground: #FFFFFF;
  --card: #383838;
  --card-hover: #424242;
  --card-foreground: #FFFFFF;
  --popover: #292929;
  --popover-foreground: #FFFFFF;
  --primary: #3154F4;
  --primary-foreground: #FFFFFF;
  --secondary: #292929;
  --secondary-foreground: #FFFFFF;
  --muted: #292929;
  --muted-foreground: #aaaaaa;
  --accent: #292929;
  --accent-foreground: #FFFFFF;
  --destructive: #F15025;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --radius: 0.625rem;
  --font-paytone: 'Paytone One', sans-serif;
  --font-oxygen: 'Oxygen', sans-serif;
  --font-courier: 'Courier Prime', monospace;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --primary-color: #3154F4;
  --primary-color-hover: #516FF6;
  --secondary-color: #292929;
  --secondary-color-hover: #333333;
  --background-color: #171717;
  --error-color: #F15025;
  --error-color-hover: #F3663F;
  --warning-color: #ECA400;
  --warning-color-hover: #FFB60A;
  --text-white: #FFFFFF;
  --text-grey: #808080;
  --text-black: #000000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-oxygen);
  background-color: var(--background);
  color: var(--foreground);
  scrollbar-track-color: var(--secondary);
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: var(--secondary);
  border-radius: 5px;
  padding: 0.75rem;
  font-family: var(--font-courier);
  line-height: 2.6rem;
}

.button-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 -6px 0 0 rgb(104,104,104)inset,2px 2px 0 0 rgba(178,178,178,0.5)inset,-2px -8px 0 0 rgba(153,153,153,0.5)inset;
  mix-blend-mode: hard-light;
}

.button-shadow * {
  margin-top: -5px;
}

.card-shadow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 8px;
  box-shadow: 0 -8px 0 0 rgb(90, 90, 90)inset;
  mix-blend-mode: hard-light;
}

.small-button-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 0 0 rgba(178,178,178,0.5)inset;
  mix-blend-mode: hard-light;
}