.comments_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment {
    background-color: #191919;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    position: relative;
    border-radius: 5px;
}

.comment_text {
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    margin-bottom: 10px;
}

.comment_text.expanded {
    max-height: none;
}

.expand {
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-decoration: underline;
    color: #344ec1;
    cursor: pointer;
    background-color: #191919aa;
    padding: 5px;
}

.comment .logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 50%;
}

.comment .body {
    margin-left: 10px;
    width: 100%;
}

.comment .body p {
    margin-top: 5px;
}

.comment .header {
    display: flex;
    align-items: center;
    margin-top: 0
}

.comment .header a h4 {
    margin-top: 0;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
}

.comment .header a {
    text-decoration: none;
}

.comment .header a:hover {
    text-decoration: underline;
}

.comment .header a:visited {
    color: white;
    text-decoration: none;
}

.comment .header p {
    margin-left: 10px;
    margin-top: 0;
    color: #aaa;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.comment .right_header {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.dropdown_button {
    scale: 0.8;
    background-color: #19191900;
}

.dropdown_button:hover {
    background-color: #292929;
}

.comment .reactions {
    display: flex;
    gap: 10px;
}

.comment .like {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment .replies {
    margin-left: 5px;
    width: 100%;
}

.comment_icon {
    width: 18px;
    height: 18px;
}