.account_layout {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.account_navigation {
    width: 200px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.account_navigation_link {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #272727;
    margin: 5px 2px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    transition: background-color 0.2s ease;
}

.account_navigation_link:hover {
    background-color: #333;
}

.account_navigation_link.active {
    background-color: #333;
}

.account_navigation_link.active:hover {
    background-color: #333;
}

.account_navigation_link:visited {
    color: #fff;
}

.dropdown_button {
    width: 200px;
}

.dropdown_item {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .account_layout {
        flex-direction: column;
    }

    .account_navigation {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }
}