.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.option {
    padding: 10px;
    background-color: #2b2b2b;
    border: 1px solid #373737;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 10px;
}

.option:hover {
    background-color: #373737;
}

.option_selected {
    padding: 10px;
    background-color: #373737;
    border: 1px solid #3154f4;
    font-size: 1.1rem;
    margin-right: 10px;
}