.content_submenu {
    width: 50%;
    margin: 0 auto;
    min-width: 500px;
}

.content_submenu li {
    display: inline;
}

.content_tabs {
    display: flex;
}

@media screen and (max-width: 600px) {
    .content_submenu {
        min-width: 90%;
    }
}

.tags_list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    border: 1.5px solid gray;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.2s;
}

.tag:hover {
    background-color: var(--secondary-color-hover);
}

.tag:active {
    background-color: var(--secondary-color-hover);
}

.tag:visited {
    color: white;
}

