.translations {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.translation {
    margin: 10px 10px 0 0;
    padding: 0 10px 10px 10px;
    background-color: #272727;
}

.edit_page {
    margin: 20px;
}

.edit_layout {
    display: flex;
    flex-direction: row;
}

.edit_header {
    margin-bottom: 20px;
}

.dashboard_sidebar {
    width: 200px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.dashboard_sidebar_item {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #272727;
    margin: 5px 2px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    transition: background-color 0.2s ease;
}

.dashboard_sidebar_item:hover {
    background-color: #333;
}

.dashboard_sidebar_item.active {
    background-color: #444;
}

.dashboard_sidebar_item:active {
    background-color: #272727;
}

.dashboard_sidebar_item:visited {
    color: white;
}

@media screen and (max-width: 600px) {
    .edit_layout {
        flex-direction: column;
    }

    .dashboard_sidebar {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }

    .edit_header {
        width: 100%;
    }
}