.background {
    background-color: black;
    opacity: 0.5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 11;
}

.sticky {
    position: fixed;
    bottom: 20px;
    left: 20px;
}