.footer {
    background-color: #272727;
}

.brand {
    font-family: var(--font-paytone);
}

.flex {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.flex div {
    margin: 20px 50px;
}

.footer h2 {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.footer li {
    display: block;
    margin-left: -40px
}

.flex li a {
    font-size: 1.2rem;
    color: #aaa;
    text-decoration: none;
}

.footer a:hover {
    color: white !important;
}

.footer a:visited {
    color: #aaa;
}