.card {
    background-color: #373737;
    padding: 0px 8px;
    margin-bottom: 5px;
}

.card .download_options {
    height: fit-content;
    display: flex;
    align-items: center;
}

.card .download_options p {
    flex: 50%;
}

.button {
    margin-left: 10px;
    padding: 8px;
    color: white;
    background-color: #344ec1;
    text-align: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #2a48d0;
}

.button:visited {
    color: white
}

.button svg {
    position: relative;
    margin-bottom: -5px;
}