@import 'nav.css';
@import 'forms.css';
@import 'mapPage.css';
@import 'popupPage.css';
@import 'editor.css';
@import 'grids.css';

:root {
  --primary-color: #3154F4;
  --primary-color-hover: #516FF6;
  --secondary-color: #292929;
  --secondary-color-hover: #333333;
  --background-color: #171717;
  --error-color: #F15025;
  --error-color-hover: #F3663F;
  --warning-color: #ECA400;
  --warning-color-hover: #FFB60A;
  --text-white: #FFFFFF;
  --text-grey: #808080;
  --text-black: #000000;
  --font-paytone: 'Paytone One', sans-serif;
  --font-oxygen: 'Oxygen', sans-serif;
  --font-courier: 'Courier Prime', monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-oxygen);
  background-color: var(--background-color);
  color: var(--text-white);
  scrollbar-track-color: var(--secondary-color);
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: var(--secondary-color);
  border-radius: 5px;
  padding: 0.75rem;
  font-family: var(--font-courier);
  line-height: 2.6rem;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
    color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}

a:active {
  color: var(--text-white);
}

.image_background {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8), rgba(0,0,0,0.4),rgba(0,0,0,0.04), rgba(0,0,0,0));
  object-fit: cover;
}

.centered_content {
  margin: 50px auto;
  width: 50%;
}

.centered_content.small {
  width: 40%;
}

@media screen and (max-width: 1920px) {
  .centered_content {
      width: 65%;
  }

  .centered_content.small {
    width: 50%;
  }
}

@media screen and (max-width: 1300px) {
  .centered_content {
    width: 75%;
  }

  .centered_content.small {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .centered_content {
      width: 95%;
  }
  .centered_content.small {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .centered_content {
    margin: 0 5px;
    width: 98%;
  }
  .centered_content.small {
    margin: 0 5px;
    width: 98%;
  }
}

.center_text {
  text-align: center;
}

.footer_margin {
  margin: 20px auto 0 auto;
}

.react-resizable-handle {
  color: white;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-right"><line x1="7" y1="7" x2="17" y2="17"></line><polyline points="17 7 17 17 7 17"></polyline></svg>') !important;
}

