.content_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 0 auto 10px auto;
    width: 90%;
}
.content_grid.three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 0 auto 10px auto;
    width: 100%;
}
.content_grid.two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 0 auto 10px auto;
    width: 90%;
}


.navigator {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 15px auto;
    justify-content: center;
    position: relative;
}

.navigator a {
    margin: 0 3px;
    padding: 5px;
    background-color: #171717;
    border-radius: 10%;
    text-align: center;
    font-size: 1.3rem;
    min-width: 33px;
    text-decoration: none;
    height: 35px;
}

.navigator a:hover {
    background-color: #272727;
}

.navigator a.current {
    background-color: #272727;
}

.navigator span {
    margin: 0 3px;
    padding: 5px;
    background-color: #171717;
    border-radius: 10%;
    text-align: center;
    font-size: 1.3rem;
    min-width: 33px;
    text-decoration: none;
    height: 35px;
}

.navigator span:hover {
    background-color: #272727;
}

.navigator span.current {
    background-color: #272727;
}

.navigator img {
    width: 25px;
}

.search_and_filter {
    width: 50%;
    margin: 5px auto 10px auto;
}

.search {
    background-color: #272727;
    color: white;
    padding: 15px 12px;
    border: 1px solid #474747;
    width: 350px;
    font-size: 1.2rem;
    flex: 50%;
}


.search_stack {
    display: flex;
}

.search_stack button {
    height: 55px;
    width: 55px;;
}

.filters {
    display: none;
    /* margin-top: 10px; */
    padding: 5px;
    flex-wrap: wrap;
    align-items: flex-end;
}

.filter_option {
    margin: 10px 5px;
    color: #aaa;
    font-size: 1.05rem;
}

.clear_filters {
    flex-basis: 100%;
    text-align: right;
}

@media screen and (max-width: 450px) {
    .navigator a {
        font-size: 1.1rem;
        min-width: 25px;
        height: 30px;
    }
}

.page_with_sidebar {
    display: flex;
}

.sidebar_filters {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.option_dropdown {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    background-color: #303030;
    border: none;
}

.options_dropdown_button {
    padding: 10px 20px;
    font-size: 1.0rem;
    background-color: #303030;
    font-weight: 500;
    border: none;
    color: white;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.options_dropdown_button.language {
    display: inline;
    padding: 5px 15px;
    background-color: #11111100;
    color: white;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.option_button {
    padding: 10px 20px;
    font-size: 1.0rem;
    background-color: #303030;
    font-weight: 500;
    border: none;
    color: white;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.option_button:hover {
    background-color: #3a3a3a;
}

.option_button.no-flex {
    text-align: left;
    display: block;
}

.option_button.break-line {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

@media screen and (min-width: 1900px) {
    .content_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        margin: 0 auto 10px auto;
        width: 90%;
    }

    .sidebar_filters {
        width: 400px;
    }
    
}

@media screen and (max-width: 1440px) {
    .content_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 0 auto 10px auto;
        width: 90%;
    }

    .sidebar_filters {
        width: 300px;
    }
}

@media screen and (max-width: 1070px) {
    .content_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
        margin: 0 auto 10px auto;
        width: 90%;
    }

    .content_grid.three {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .sidebar_filters {
        width: 250px;
    }
}

@media screen and (max-width: 750px) {
    .content_grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        margin: 0 auto 10px auto;
        width: 90%;
    }

    .content_grid.three {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .content_grid.three {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .search_and_filter {
        width: 95%;
    }
    
    .filters {
        justify-content: center;
        display: none;
    }

    .filters.filtering {
        display: flex;
    }
    
    .sidebar_filters {
        display: none;
    }

    .bulk_dl {
        display: none;
    }
}