.view_all_header {
    font-size: 1.7rem;
    text-align: center;
    margin: 50px 0 15px 0;
}

.view_all_buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}
