.nav {
    margin: 0x;
    padding-left: 10px;
    position: sticky;
    top: 0%;
    z-index: 10;
    background-color: #171717;
}

.main_nav {
  display: flex;
}

.nav_list {
    margin: 0 0 0 -15px;
    font-family: 'Lato', sans-serif;
    flex: 50%;
    display: flex;
    align-items: center;
}

.nav a.brand {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.nav .brand_icon {
  width: 40px;
  image-rendering: pixelated;
  margin-right: 5px;
}
  
.nav .brand_name {
    display: inline;
    font-weight: 700;
    font-size: 18px;
}

@media screen and (max-width: 400px) {
    .nav .brand_name {
        display: none;
    }
}
  
.nav .item {
    display: inline;
    margin: 0 5px 0 5px;
    position: relative;
}
  
.nav .link {
    text-decoration: none;
    color: #777777;
    padding: 8px 10px;
    transition: 0.2s ease;
    font-size: 17px;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.nav .link:visited {
    color: #777777;
}
  
  .nav .link.selected {
    color: #dddddd;
  }
  
  .nav .link:hover {
    color: #222222;
    background-color: #eeeeee;
    border-radius: 5px;
    transition: 0.2s ease;
  }

  .action_list {
    margin: 0 0 0 -15px;
    font-family: 'Lato', sans-serif;
    display: inline-flex;
    align-items: center;
  }

  .menu_icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
  }

  .mobile_nav {
    display: none;
  }

  .icon_align {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    flex: 50%;
    display: flex;
    align-items: center;
  }

  .mobile_nav .nav_list {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #272727;
    z-index: 100;
    margin: 0;
    padding: 40px;
    top: 0%;
    left: 0%;
  }

  .mobile_nav .nav_list.active {
    display: block;
    animation: bigSlideshowSlideFadeIn 0.2s ease-in;
    animation-fill-mode: both;
  }

  .mobile_nav .nav_list {
    display: none;
    background-color: none;
  }

  .mobile_nav .nav_list.inactive {
    display: none;
    background-color: none;
  }

  .mobile_nav .item {
    display: block;
    margin: 30px 0;
    text-align: center;
  }

  .mobile_nav .action_item {
    display: block;
    text-align: center;
  }

  .mobile_nav .link {
    font-size: 1.2rem;
  }

  .mobile_nav .close_button {
    position: absolute;
    z-index: 101;
    right: 1%;
    top: 1%;
    display: none;
  }

  .mobile_nav .close_button.active {
    display: block;
  }

  @media screen and (max-width: 1080px) {
    .main_nav {
      display: none;
    }

    .mobile_nav {
      display: flex;
    }
  }

  .user_menu {
    margin: 0 40px 0 0;
    position: relative;
  }

  .sign_in_button {
    display: block;
  }

  .sign_in_icon {
    display: none;
    background-color: #11111100;
    border: 1px solid gray;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: white !important;
  }

  @media screen and (max-width: 600px) {
    .sign_in_button {
      display: none;
    }

    .sign_in_icon {
      display: flex;
    }
  }


  .user_menu {
    background: none;
    border: none;
  }

  .icon_container {
    position: relative;
  }

  .notification_indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    border: 2px solid #171717;
    background-color: #c73030;
  }

  .notification_count {
    position: absolute;
    right: 10px;
    font-size: 0.8rem;
    background-color: #c73030;
    color: white;
    padding: 0 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user_menu .icon {
    border-radius: 50%;
    object-fit: cover;
    margin-left: 40px;
  }

  .user_menu .option_button {
    padding: 8px;
    border-radius: 5px;
    margin: 0 10px;
  }

  .user_menu .option_button svg {
    margin-right: 5px;
  }

  .user_menu .option_button .display_name {
    margin: 0 0 5px 0;
  }

  .user_menu .option_button .email {
    color: #888;
    font-size: 0.9rem;
    margin: 0;
  }

  .beta_warning {
    background-color: #c73030;
    color: white;
    padding: 5px 0px;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .beta_warning a {
    color: white;
    text-decoration: underline;
  }
  
  .beta_warning a:visited {
    color: white;
  }

  @media screen and (max-width: 500px) {
    .beta_warning {
      font-size: 0.8rem;
    }
  }

  .donate {
    padding: 5px 0px;
    font-size: 0.9rem;
    text-align: center;
  }

  .link.fancy::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #3154f4;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    animation: fancy_anim 5s ease-out infinite;
  }

  .select_icon_text {
    margin: 0;
    margin-top: 3px;
    padding: 0;
    display: inline-flex;
    align-items: center;
  }

  .select_icon {
    margin: 0;
    margin-right: 5px;
    padding: 0;
    width: 32px;
    height: 32px;
  }

  @keyframes fancy_anim {
    0% {
      transform: scaleX(0);
      transform-origin: right;
    }
    20% {
      transform: scaleX(1);
      transform: scaleY(1);
    }
    25% {
      transform: scaleY(2)
    }
    30% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(1);
    }
    55% {
      transform: scaleY(2)
    }
    60% {
      transform: scaleY(1);
    }
    80% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0);
      transform-origin: left;
    }
  }