
.description {
    margin: 0 0 5px 0;
    color: gray
}

.options {
    display: flex;
    flex-wrap: wrap;
}

.option {
    padding: 10px;
    background-color: #2b2b2b;
    border: 1px solid #373737;
    font-size: 1.1rem;
    cursor: pointer;
}

.option:hover {
    background-color: #373737;
}

.option_selected {
    padding: 10px;
    background-color: #373737;
    border: 1px solid #3154f4;
    font-size: 1.1rem;
    cursor: pointer;
}

.version_field {
    margin: 10px 10px 0 0;
    border: 1px dashed gray;
    padding: 0 5px;
}

.checkbox_field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 10px -10px;
}

.checkbox_field h3 {
    margin: 0 0 0 10px;
}