.content_card {
    border-radius: 10px;
    color: white;
    position: relative;
    background-color: var(--secondary-color);
    padding: 10px;
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 10px;
}

.content_card .logo_container {
    width: 256px;
    height: 144px;
}

.content_card .title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content_card .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    gap: 5px;
}

.content_card .information .description {
    color: #ddd;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    border-radius: 5px;
}

.content_card .information .description * {
    margin: 5px 0;
}

.stats {
    display: flex;
    align-items: center;
    color: #d0d0d0;
    margin: 8px 0;
    flex-wrap: wrap;
}

.stat {
    margin: 0 15px 0 0px !important;
    display: flex;
    align-items: center;
}

.stat .in_text_icon {
    margin: 0 5px 0 0px !important;
    width: 18px;
}

.quick_actions {
    position: absolute;
    bottom: 5%;
    right: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s;
}

.content_card:hover .quick_actions {
    opacity: 1;
}

.content_card:hover .description {
    opacity: 1;
}

.content_card .logo {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px;
    opacity: 1;
    margin-bottom: 0px;
}


.content_card .title {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--text-white);
    text-decoration: none;
    margin-bottom: 5px;
    flex: 50;
}

.content_card .title:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .content_card .information .description {
        font-size: 1.1rem;
    }

    .content_card .title {
        display: block;
        width: 100%;
        margin-bottom: 0;
        font-size: 1.2rem;
    }
}

.content_card .author {
    margin: 0 0 5px 0;
    font-size: 0.95rem;
    color: #d0d0d0;
}

.content_card .author a {
    margin: 0 0 5px 0;
    font-size: 0.95rem;
    color: #aaaaaa;
    text-decoration: underline;
}