.nav {
    margin: 0x;
    padding-left: 10px;
    position: sticky;
    top: 0%;
    z-index: 10;
    background-color: #171717;
}

.main_nav {
  display: flex;
}

.nav_list {
    margin: 5px 0 5px -15px;
    font-family: 'Lato', sans-serif;
    flex: 50%;
    display: flex;
    align-items: center;
}

.nav a.brand {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.nav .brand_icon {
  width: 50px;
  image-rendering: pixelated;
}
  
.nav .brand_name {
    display: inline;
    font-weight: 700;
    font-size: 20px;
}
  
.nav .item {
    display: inline;
    margin: 0 5px 0 5px;
}
  
.nav .link {
    text-decoration: none;
    color: #777777;
    padding: 8px 10px;
    transition: 0.2s ease;
    font-size: 17px;
}

.nav .link:visited {
    color: #777777;
}
  
  .nav .link.selected {
    color: #dddddd;
  }
  
  .nav .link:hover {
    color: #222222;
    background-color: #eeeeee;
    border-radius: 5px;
    transition: 0.2s ease;
  }

  .action_list {
    margin: 20px 0 20px -15px;
    font-family: 'Lato', sans-serif;
    display: inline-flex;
    align-items: center;
  }

  .menu_icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
  }

  .mobile_nav {
    display: none;
  }

  .icon_align {
    display: flex;
    align-items: center;
  }

  .mobile_nav .nav_list {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #272727;
    z-index: 100;
    margin: 0;
    padding: 40px;
    top: 0%;
    left: 0%;
  }

  .mobile_nav .nav_list.active {
    display: block;
    animation: bigSlideshowSlideFadeIn 0.2s ease-in;
    animation-fill-mode: both;
  }

  .mobile_nav .nav_list {
    display: none;
    background-color: none;
  }

  .mobile_nav .nav_list.inactive {
    display: none;
    background-color: none;
  }

  .mobile_nav .item {
    display: block;
    margin: 30px 0;
    text-align: center;
  }

  .mobile_nav .link {
    font-size: 1.2rem;
  }

  .mobile_nav .close_button {
    position: absolute;
    z-index: 101;
    right: 1%;
    top: 1%;
    display: none;
  }

  .mobile_nav .close_button.active {
    display: block;
  }

  @media screen and (max-width: 600px) {
    .main_nav {
      display: none;
    }

    .mobile_nav {
      display: block;
    }
  }

  .user_menu {
    margin: 0 40px 0 40px;
    position: relative;
  }

  .user_menu .icon {
    border-radius: 50%;
    object-fit: cover;
  }

  .user_menu .options {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #272727;
    padding: 10px 15px;
    border: 1px solid #474747;
    box-shadow: 3px 3px 10px #000000;
    border-radius: 5px;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user_menu .options .option {
    padding: 8px;
    border-radius: 5px;
  }

  .user_menu .options .option:hover {
    background-color: #373737;
  }

  .user_menu .options .option.icon {
    display: flex;
    align-items: center;
  }

  .user_menu .options .option svg {
    margin-right: 10px;
  }

  .options .option .display_name {
    margin: 0 0 5px 0;
  }

  .options .option .email {
    color: #888;
    font-size: 0.9rem;
    margin: 0;
  }